*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    font-family: 'PT Sans', "sans-serif" ;
}

.container{
    width: 90%;
    margin: auto;   
}

.list-unstyled{
    list-style: none;    
}
                                    /* header*/
header{
    position: absolute;
    width: 100%;
    z-index: 10;   
}

a{
    text-decoration:none;
}

header .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#17171759;
    position: fixed;
    width: 100%;  
}

.header-content img{
    max-width:230px;
    height: auto;
    margin-left: 4%;
}


.header-content nav{
    float: right;
    margin-right: 4%;    
}

.header-content li{
    display: block; 
   
}

.header-content nav ul{
    overflow: hidden; 
    display: flex;  
    flex-wrap: wrap;
}

.header-content nav ul li a{
    color: #e3bf5e;
    padding :17px  25px;
    margin: 0 25px;
    display: block;
    font-weight: bolder;
}

li a:hover:not(.active){
    background-color: #4b422b;  
    color: white;  
}

.active{
    background-color:#4b422b ;    
}
                                        /* home */
.home{   
    height: 100vh;
    width: 100%;  
    background-size: cover;
    position: relative;
    animation: slideBg 10s linear infinite ;  
    animation-timing-function: ease-in-out;
    background-repeat: no-repeat;
    background-position:center center;
    backface-visibility: hidden;
    background-image: url(../images/rsz_17.jpg);
} 

@keyframes slideBg{
    0%{
        background-image: url(../images/rsz_17.jpg);
    } 
    60%{
        background-image: url(../images/20.jpg);     
    }  
}

.home-content{
    position: absolute;
    top:60%;
    left: 75%;
    background-color: #17161855;
    width: 22%;
    height: 20%;
    padding-top: 30px;   
}

.title {
    color: silver;
    text-align: center;
    margin-bottom: 30px;
} 
.sub-title{
    color: #e3bf5e;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
} 

.slider img{
    width: 70%;
    max-height: 600px;
    margin-bottom: 20px;
    border: #eccfc9 solid 5px;
    margin-left: 15%;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container .title2{
    padding-top: 50px;
    text-align: center;   
    color: #e9a69a;
    font-size: 50px;
}

.container .paragraph{
    text-align: center;
    line-height: 40px;
    color: gray;
    font-size: 20px;
    padding-top:30px;
}
                                    /*footer*/
.footer{
    width:100%;
    margin: auto;
    padding: 40px 40px;
    background-color:#171717;
    border-top: 2px solid #e3bf5e ;
    border-bottom: 2px solid #e3bf5e ;
}

.footer-content{
     display: flex;
     justify-content: space-between;
     margin-left: 4%;
     margin-right: 4%;
     align-items: center;
}

.footer-list li{
    display: block;
    list-style: none;
}

 .footer-list li a{
    color:#e3bf5e ;
    margin: 0 15px;
    line-height: 40px;     
}

.polices-list li{
    display: block;
    list-style: none;
}

 .polices-list li a{
    color:#e3bf5e ;
    margin: 0 15px;
    line-height: 40px;     
}

.qa ul li{
    line-height: 40px;
    list-style: none;
    font-size: 22px;
    color:#e3bf5e ;
}

.copyrights{
    text-align: center;
    padding-top: 10px;
    padding-right: 30px;
    color:silver ;
}
.colors img{
    text-align: center;
    height: 40px; 
    margin-left:17.5%;
    width: 65%; 
    margin-bottom: -40px; 
    border: 2px solid #e3bf5e;
}
